@model TodoItem
<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Title:</label>
    <input asp-for="Title">
    <label asp-for="DueAt">Date:</label>
    <input type="date" asp-for="DueAt">
    <button type="submit">Add</button>
</form>
